
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page1{
    height: 100vh;
    width: 100%;
    background: #fdf4ec;
}

.navbar{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.list {
    display: flex;
    height: 100%;
    width: 60%;
    
}

.list li{
    list-style: none;
    margin: 20px;
    font-size: 19px;
  
}

.list button{
    margin: 15px;
    height: 55%;
    width: 20%;
    border-radius: 55px;
    border: none;
    background: #E42A12;
    color: white;
    font-weight: 600;
}

.container{
    height: 85%;
    width: 100%;
    display: flex;
}

.left{
    height: 100%;
    width: 50%;
}
.left h1{
    margin-left: 70px;
}

.left img{
    margin-left: 70px;
    width: 400px;
}
.left p{
   margin-left: 70px;    
   font-size: 25px; 
}

.left button{
   margin-left: 70px;    
   font-size: 25px;
   color: white; 
   height: 15%;
   width: 50%;
   border-radius: 55px;
   border: none;
   background: #E42A12;
   font-weight: 500;

}

.right{
   height: 100%;
    width: 50%; 
}

.right video{
    height: 95%;
    width: 95%;
}

.page2 {
    height: 100vh;
    width: 100%;
    display: flex;  
    flex-direction: row; 
          
}

h1 {
    font-size: 40px;
    margin-left: 60px;
    text-decoration: underline solid rgb(238, 136, 4) 9px;
    
}

.card {
    height:80% ;
    width: 40%; 
    margin-left: 60px;
    margin-right: 60px;
}

.card img{
    height: 50%;
    width: 100%; 
    border-radius: 5px;
    
}
.content {
    color: #484848;
    font-size: 18px;
}

.content h2{
    color: #484848;
    font-size: 24px;
}

.page3{
    height: 100vh;
    width: 100%;
    display: flex;

}

.leftpage3 img{
    height: 90%;
    width: 90%;
    margin-left: 60px;
}

.rightpage3{
    height: 100%;
    width: 50%;
    
}

.rightpage3 h2{
    font-size: 42px;
    margin-left: 60px;
    margin-top: 10px;
    color: #484848;
}


.rightpage3 p {
    font-size: 20px;
    margin-left: 60px;
}

.steps h6{
    font-size: 24px;
    margin-left: 60px;
    margin-bottom: 2px;
    margin-top: 5px;
}
.steps {
    height: 100%;
    width: 100%;
    margin-top: 2px;
    margin-left: 60px;
    font-size: 24px;
}

.steps button{
    margin-top: 5px;
    width: 35%;
    height: 10%;
    font-size: 20px;
    border-radius: 55px;
    background: #E42A12;
    color: white;
    border: none;
}

.page4 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    height: 40%;
    width: 100%;
}
.header h1{
    font-size: 42;
}

.header p{
    margin-left: 60px;
    font-size: 23px;
    margin-top: 2px;
}

.header button{
    margin-top: 5px;
    margin-left: 60px;
    width: 25%;
    height: 25%;
    font-size: 20px;
    border-radius: 55px;
    background: #E42A12;
    color: white;
    border: none;
    font-weight: 600;
}

.menu{
    
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}

.card2{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 1px; 
    
}

.card2 .text{
    position: absolute;
  top: 250px;
  left: 80px;
  font-size: 18px;

}

.text h2{
    background: white;
    font-size: 24px;
    width: 100%;
    height: 20%;
    padding: 3px;
   
}



.card2 img{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    margin-left: 60px;
}


.page5 {
  height: 250px;
  background: url("/images/addons-dessert-desktop.webp") center/cover no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 80px;
  border: 2px solid #e42b124f;
}

.page5text {
  margin-left: 60px;
}

.page5text h2{
    font-size: 25px;
}

.page5text p{
    font-size: 18px;
}

.page5text button{
    background: #E42A12;
    color: white;
    border: none;
    width: 20%;
    font-size: 18px;
    font-weight: 700;

}

.testimonials{
    height: 40vh;
    width: 100%;
    display: flex;
}

.rating p{
    font-size: 25px;
    color: #484848;

}

.rating{
    margin-left: 40px;
}

.rating h1 {

    margin-left: 10px;

}

.rating button{
    border-radius: 30px;
    height: 15%;
    margin: 4px;
    border: 2px solid lightgray;
    background: transparent;
}

.cards{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;          
    margin-bottom: 20px; 
    margin-left: 50px;
   
}

.profile{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: auto;
    background: bisque;
    margin: 3px;
    padding: 10px;
    

}

.profile h4{
    margin-bottom: 2px;
}

.achievement {
    width: 100%;
    margin-top: 40px;
    background: #E42A12;
    display: flex;
    justify-content: center;
    align-items: center;
        /* pull it closer to cards */
    padding-top: 50px;
    margin-bottom: 30px;
}

.achievement h3 {
    max-width: 900px;
    font-size: 26px;
    line-height: 1.4;
    color: white;
    text-align: center;
}


.dropdown{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 100px; 
}

.dropdownlist{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.dropdownbuttons button{
    width: 20%;
    margin: 4px;
    margin-bottom: 30px;
    border-radius: 40px;
    height: 25%;
    border: 2px solid lightgray;
    font-weight: 700;

}

.dropdownbuttons  .btn{
    background: #E42A12;
    color: white;
}

.qr{
    display: flex;
    justify-content: space-between;
    background: #F6F7F7;
    width: 60%;
    height: 30%;
    margin-top: 70px;
}

.whatsapp h3{
    margin-left: 30px;
}
.whatsapp  p{
   margin-bottom: 60px; 
   margin-left: 30px;
    
}
.qrcode img{
display: flex;
  width: 100px;
  height: auto;
   margin: 30px;
}

.family{

    display: flex;
    height: 100vh;
    width: 100%;
    background: #fdf4ec;
    margin-top: 100px;
}

.family .left{
    margin-top: 60px;
    margin-left: 60px;
}

.family .left button{
    margin-top: 40px;
}
.family .right img{
    width: 100%;
    height: 100%;
   
}
img{
    width: 100%;
}

.footer{
    height: 100vh;
    width: 100%;
    background: #fdf4ec;
   

}

.footer .footerimg{
     margin-top: 30px;
}

.footercontent{
    display: flex;
    margin-left: 60px;
    

}

.footercontent .about{
    margin-right: 50px;
}

.footercontent .work{
    margin-right: 50px;
}

.footerimg img{
    width: 600px;
}

.copyright{
    margin-top: 100px;
}